body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:925px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:96px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u173 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-19px;
  width:961px;
  height:96px;
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:11px;
  width:314px;
  height:58px;
  font-size:28px;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:310px;
  word-wrap:break-word;
}
#u175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:34px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:280px;
  width:37px;
  height:34px;
  color:#00FFCC;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:34px;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:280px;
  width:37px;
  height:34px;
  color:#00FFFF;
}
#u176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:226px;
  width:218px;
  height:46px;
  font-size:28px;
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:214px;
  word-wrap:break-word;
}
#u178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:226px;
  width:271px;
  height:46px;
  font-size:28px;
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:267px;
  word-wrap:break-word;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:272px;
  width:218px;
  height:42px;
}
#u179_input {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:272px;
  width:271px;
  height:42px;
}
#u180_input {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:314px;
  width:218px;
  height:42px;
}
#u181_input {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:314px;
  width:271px;
  height:42px;
}
#u182_input {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:34px;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:324px;
  width:37px;
  height:34px;
  color:#00FFCC;
}
#u183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:34px;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:324px;
  width:37px;
  height:34px;
  color:#00FFFF;
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:468px;
  height:31px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:471px;
  width:453px;
  height:5px;
}
#u185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:428px;
  width:99px;
  height:32px;
  font-size:28px;
}
#u186_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
